<main role="main" class="container" *ngIf="posts">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-outline.svg" alt="" width="48"
      height="48">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">All Posts</h6>
      <small>Since 2011</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Posts</h6>
    <div class="media text-muted pt-3" *ngFor="let p of posts">
      <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
      <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <div class="d-flex justify-content-between align-items-center w-100">
          <strong class="text-gray-dark">{{p.title}}</strong>
          <a [routerLink]="" (click)="onPostClicked(p.id)">More</a>
        </div>
        <span class="d-block">{{p.body}}</span>
      </div>
    </div>
    <!-- <small class="d-block text-right mt-3">
      <a href="#">All suggestions</a>
    </small> -->
  </div>
</main>